---
layout: "agency-pkg-layouts/default"
components:
  headline:
    text: 'Components'
fragments:
  headline:
    text: 'Fragments'
elements:
  headline:
    text: 'Elements'
packages:
  headline:
    text: 'Packages'
---
{{#mixin "agency-pkg-docs/overview"}}

  {{#content "menu"}}

      {{#mixin "agency-pkg-docs/overview/menu"}}

        {{#content "content"}}

          <div class="components">
            {{{mixin "agency-pkg-docs/overview/menu/headline" components.headline}}}
            {{#globTree "src/tmpl/partials/components/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/accordeon" parent-id="components" list=this}}}
            {{/globTree}}
          </div>

          <div class="fragments">
            {{{mixin "agency-pkg-docs/overview/menu/headline" fragments.headline}}}
            {{#globTree "src/tmpl/partials/fragments/**/*.hbs"}}
              {{{mixin "agency-pkg-docs/accordeon" parent-id="fragments" list=this}}}
            {{/globTree}}
          </div>

          <div class="elements">
            {{{mixin "agency-pkg-docs/overview/menu/headline" elements.headline}}}
            {{#globTree "src/tmpl/partials/elements/**/*.hbs"}}
                {{{mixin "agency-pkg-docs/accordeon" parent-id="elements" list=this}}}
            {{/globTree}}
          </div>

          <div class="packages">
            {{{mixin "agency-pkg-docs/overview/menu/headline" packages.headline}}}
            {{#globTree "node_modules/*-pkg-*/**/*.hbs"}}
                {{{mixin "agency-pkg-docs/accordeon" parent-id="packages" list=this}}}
            {{/globTree}}
          </div>

        {{/content}}

      {{/mixin}}

  {{/content}}

{{/mixin}}
