---
id: #string
class: #string
url: "#menu-link"
title: "Menu Link"
target: "doc-content"
rel: "next"
---
<a class="pkg {{{class}}}" href="{{{url}}}" data-pkg="agency-pkg-docs/accordeon/menu" target="{{{target}}}" title="{{{title}}}" rel="{{{rel}}}">{{{title}}}</a>
